
<a class="me-1" title="linkedIn" target="_blank" href="www.linkedin.com/in/ong-aafeben-1150b8218">
    <i class="bi bi-linkedin"></i>
</a>

<a class="me-1" title="facebook" target="_blank" href="https://web.facebook.com/profile.php?id=100071105562311">
    <i class="bi bi-facebook"></i>
</a>