@{
    string lang = ViewBag.Language;
    ViewData["Title"] = lang == "en" ? "Citizenship" : "Citoyenneté";
}

<main style="max-width:876px;" class="container mx-auto my-5 text-justify">

    <h2>@ViewData["Title"] </h2>
    
   @if( lang == "en" ) 
   {
    <p>
        Citizenship, as materialized by documents such as the national identity card and birth certificate, 
        is of considerable importance in economic, social, cultural, and environmental terms in Cameroon and 
        the entire Central African sub-region. These documents are essential for guaranteeing the rights of individuals 
        and their integration into society. These documents play a crucial role in accessing economic opportunities. 
        The possession of these documents allows citizens to open bank accounts, access loans, find formal employment, 
        and benefit from public services.
    </p>
    <p>
        Most economic opportunities, particularly in the formal sector, require the presentation of these documents. 
        Without an identity card or birth certificate, many Cameroonians are excluded from the formal economic system, 
        which hinders their development and financial inclusion. These documents are also important for social 
        inclusion and civic participation.
    </p>
    <p>
        Possessing a national identity card allows citizens to vote, participate in political life, 
        and benefit from the protection of the law. They also facilitate access to education and health services, 
        thus contributing to the overall well-being of citizens. Women, for example, 
        represent a significant proportion of beneficiaries of social services when these documents are available, 
        allowing them to participate fully in society and protect their rights.
    </p>
   }
   else 
   {
     <p> 
        La citoyenneté, matérialisée par des documents tels que la carte nationale d'identité et l'acte de naissance, 
        revêt une importance considérable sur les plans économique, social, culturel et environnemental au Cameroun 
        et dans l’ensemble de la sous-région Afrique Centrale. Ces documents sont essentiels pour garantir les droits 
        des individus et leur intégration dans la société. Ces pièces jouent un rôle crucial dans l'accès aux 
        opportunités économiques. La possession de ces documents permet aux citoyens d'ouvrir des comptes bancaires, 
        d'accéder à des prêts, de trouver un emploi formel et de bénéficier de services publics. 
    </p><p>
        La plupart des opportunités économiques, notamment dans le secteur formel, 
        requièrent la présentation de ces documents. 
        Sans carte d'identité ou acte de naissance, de nombreux Camerounais sont exclus du système économique formel, 
        ce qui entrave leur développement et leur inclusion financière. Ces documents sont également importants pour 
        l'inclusion sociale et la participation civique. 
    </p><p>
        Posséder une carte nationale d'identité permet aux citoyens de voter, de participer à la vie politique 
        et de bénéficier de la protection de la loi. Ils favorisent également l'accès à l'éducation et aux services 
        de santé, contribuant ainsi au bien-être général des citoyens. Les femmes, par exemple, représentent une part 
        importante des bénéficiaires de services sociaux lorsque ces documents sont disponibles, 
        leur permettant de participer pleinement à la société et de protéger leurs droits.
    </p>
   }
   
    <a href="/@lang/a-propos-de-nous#axes" class="btn">
        <i class="bi bi-chevron-left"></i>
        @(lang == "en" ? "Return to Strategic axes" : "Voir les axes stratégiques" )
    </a>



</main>

<style>
    #header-hero {
        background: rgba(0, 0, 0, 0.5) url("../../images/website/axes-cito.jpeg") no-repeat center;
    }


    .slide-show, .slide-show-dots  {
        display: none;
    }

    #header-hero {
        background-size: cover;
        background-blend-mode: darken;
    }
</style>