@{
    string lang = ViewBag.Language;
    ViewData["Title"] = lang == "en" ? 
        "Production of zero deforestation cocoa":
        "Production d'un cacao zéro déforestation";
                        
}

<main style="max-width:1080px;" class="container mx-auto my-5 text-justify">

    <h2>@ViewData["Title"] </h2>
    
    @if( lang == "en" ) {
        <p> 
            Agriculture is currently seen as one of the main causes of 
            forest destruction and thus justifies a growing concern for forest ecosystem conservation. 
            Cocoa-based agroforestry systems, although being agricultural production areas, 
            harbor forest fauna and flora whose conservation and sustainable management can 
            contribute to the sustainability of current practices in the area.
        </p>

        <p>
            Eastern Cameroon represents the 5th largest cocoa-producing region, accounting for nearly 3.38% of national production. 
            The decision to support communities living near protected areas in the cocoa sector is justified by 
            the fact that this zone is one of the major cocoa-producing basins and often calls for the opening of new spaces, 
            thus contributing to the loss of forest cover through degradation caused by tree cutting.
        </p>
    } 
    else 
    {
        <p>
            L’agriculture est aujourd’hui perçue comme étant une des causes majeures de destruction des
            forêts et justifie ainsi une préoccupation toujours croissante en matière de conservation de l’écosystème forestier.
            Les agro forêts à base de cacao, bien qu’étant des espaces de production agricole, abritent une faune et une
            flore forestière dont la conservation et la gestion durable peuvent concourir à la durabilité des pratiques courantes de la zone.
        </p>

        <p>
            L’Est Cameroun représente la 5eme région de forte production de cacao estimé à près 3,38% de la production national .
            Le choix d’accompagner les communautés riveraines aux aires protégées dans la filière cacao se justifie par le fait que cette zone est un des bassins de forte production du cacao et appel souvent à l’ouverture de nouvel espace contribuant ainsi à la perte du couvert forestier à travers la dégradation issue de la coupe des arbres.
        </p>
    }





    <a href="/@lang/a-propos-de-nous#axes" class="btn">
        <i class="bi bi-chevron-left"></i>
        @(lang == "en" ? "Return to Strategic axes" : "Voir les axes stratégiques" )
    </a>


</main>

<style>
    #header-hero {
        background: rgba(0, 0, 0, 0.5) url("../../images/website/axes-agro.jpeg") no-repeat center;
    }


    .slide-show, .slide-show-dots  {
        display: none;
    }

    #header-hero {
        background-size: cover;
        background-blend-mode: darken;
    }
</style>