@{
    string lang = ViewBag.Language;
    ViewData["Title"] = lang == "en" ? "Development of agro-ecological activities":"Développement des activités agro écologique";
                        
}

<main style="max-width:968px;" class="container mx-auto my-5 text-justify">

    <h2>@ViewData["Title"] </h2>
    
    @if( lang == "en" ) 
    {
        <p>
            Supporting the establishment of green AGR (snail farming, caterpillar farming, beekeeping) 
            in communities is of considerable importance in terms of economic, social, cultural, and environmental aspects 
            in Cameroon and the entire Central African sub-region. 
            These sustainable activities play a crucial role in improving the living conditions of local populations 
            while preserving the environment. 
        </p><p> 
            In many rural areas, populations rely heavily on the development of agro-
            ecological activities to generate substantial income. 
            Women are particularly involved in these activities, actively participating in the production, processing, 
            and marketing of agro-ecological products. They hold a significant share of local retail markets, 
            thus strengthening their financial autonomy.
        </p>
    }   
    else
    {
        <p>
            Accompagnement dans la mise en place des AGR vert (élevage escargot, chenilles, apiculture) dans les communautés revêt 
            une importance considérable sur les plans économique, social, culturel et environnemental au Cameroun et dans 
            l’ensemble de la sous-région Afrique Centrale. Ces activités durables jouent un rôle crucial dans 
            l'amélioration des conditions de vie des populations locales tout en préservant l'environnement.
        </p><p> 
            Dans de nombreuses zones rurales, les populations dépendent fortement de la valorisation des 
            activités agro-écologiques pour générer des revenus substantiels. 
            Les femmes sont particulièrement impliquées dans ces activités, 
            participant activement à la production, la transformation et la 
            commercialisation des produits agro-écologiques. Elles tiennent une 
            part importante des marchés locaux de détail, renforçant ainsi leur autonomie financière.
        </p>

    }

    <a href="/@lang/a-propos-de-nous#axes" class="btn">
        <i class="bi bi-chevron-left"></i>
        @(lang == "en" ? "Return to Strategic axes" : "Voir les axes stratégiques" )
    </a>

</main>

<style>
    #header-hero {
        background: rgba(0, 0, 0, 0.5) url("../../images/website/axes-dev.jpeg") no-repeat center;
    }


    .slide-show, .slide-show-dots  {
        display: none;
    }

    #header-hero {
        background-size: cover;
        background-blend-mode: darken;
    }
</style>