@model PaginatedList<Aafeben.Models.MediaModel>

@{
    ViewData["Title"] = @Localizer["title"];
    ViewData["Description"] = @Localizer["desc"];
    string lang = CultureInfo.CurrentCulture.ToString();
}


<h2 class="py-4 text-center">
    @ViewData["Title"]
</h2>

<main class="container mx-auto p-3 row justify-content-start align-items-start g-2">


    <aside id="video" class="col-lg-4 d-flex flex-column  gap-3">
        <h3>Videos</h3>
    </aside>

    
    <aside id="image" class="col-lg-4 d-flex flex-column gap-3">
        <h3>Images</h3>

    </aside>

    <aside id="audio" class="col-lg-4 d-flex flex-column gap-2">

        <h3>Audios</h3>
    </aside>


</main>

<section class="container mx-auto">
    <partial name="~/Views/Shared/HomeLayout/_Pagination.cshtml" />
</section>

<script>
    var model = @Html.Raw(Json.Serialize(Model));
    const fr = "fr";
    const en = "en";
    const language = @lang;

    const vidSection = document.querySelector('#video');
    const imgSection = document.querySelector('#image');
    const audSection = document.querySelector('#audio');

    for(let item of model ){
        if ( item.type === "video") {
            vidSection.innerHTML += `
            <iframe class="video" src="${item.uri}" allowfullscreen loading="lazy"></iframe>
            <p class="card-text"> ${ language === "en" ? item.enCaption : item.frCaption }</p>`;

        } else if ( item.type === "image") {
             vidSection.innerHTML += `
            <iframe class="image" src="${item.uri}" allowfullscreen loading="lazy"></iframe>
            <p class="card-text"> ${ language === "en" ? item.enCaption : item.frCaption }</p>`;

        } else {
             vidSection.innerHTML += `
            <iframe class="audio" src="${item.uri}" allowfullscreen loading="lazy"></iframe>
            <p class="card-text"> ${ language === "en" ? item.enCaption : item.frCaption }</p>`;

        }
    }
</script>

<style>
    .video {
        min-height: 80px;
        height: 360px ;
    }

    .audio {
        height: 56px;
    }

    .image {
        height: 256px;
    }

    #header-hero {
        background: rgba(0, 0, 0, 0.5) url("../../images/website/media-hero.png") no-repeat center;
        background-size: cover;
        background-blend-mode: darken;
    }

    .slide-show, .slide-show-dots  {
        display: none;
    }
</style>