@model PaginatedList<Aafeben.Models.ProjectModel>

@{
    string lang = CultureInfo.CurrentCulture.ToString();
    string proj = lang =="en" ? "/en/projet": "/fr/project";
    ViewData["Title"] =  @Localizer["title"];
    ViewData["description"] = @Localizer["desc"];
}

<h1 class="text-center my-3">@ViewData["Title"]</h1>


<main class="container-xl row gy-2 mx-auto px-3">

    <section class="row g-2 g-lg-3 row-cols-2 row-cols-xl-3">

        @foreach (var item in Model) {
            <div class="col bog">

                <a href="@proj/@item.Title" class="d-flex flex-column gap-0 shadow-sm">
                    <section class="position-relative w-100 lh-sm mb-4">
                        <img class="img-proj" height="200px" width="100%" src="/images/projets/@(item.FeaturedImageUrl ?? "placeholder.png")" alt="...">
                    </section>
                    <div class="p-2">
                        <h4 class="fs-2fw-semibold w-100">@item.Title</h4>
                    </div>    
                </a> 

            </div>
        }
    </section>

    <section class="py-4">
        <partial name="~/Views/Shared/HomeLayout/_Pagination.cshtml" />
    </section>

</main>


<style>
    #header-hero {
        background: rgba(0, 0, 0, 0.7) url("../../images/website/projet-hero.jpg") no-repeat center;
        background-size: cover;
        background-blend-mode: darken;
    }

    .slide-show, .slide-show-dots  {
        display: none;
    }

    .img-proj {
        min-height: 180px;
        background: gray;
    }
</style>
