
* {
  margin: 0;
  padding: 0;
  border-radius: 0px;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width: 968px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* My css edits */

a {
  text-decoration: none;
  color: inherit;
}

a:hover, .nav-link:hover {
  color: turquoise;
}

.current-link {
  border-bottom: 2px solid turquoise;
}

::placeholder, ::-moz-placeholder , ::-ms-placholder {
  opacity: 0.6;
  color: lightgray;
}

.full-page {
  min-height: 100vh;
  max-width: 100%;
}

input, textarea, button {
  border-radius: 0;
}

.bg-turq {
  background-color: turquoise;
}

.text-turq {
  color: turquoise;
}

.border-turq {
  border: 1px solid turquoise;
}

.nav-link, a {
  color: inherit;
}

.pill {
  display: flex;
  place-items: center;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.blog-header {
  min-height: 70vh;
  max-height: 980px;
  display: flex;
  place-items: center;
}

/* login  */
.login {
  max-width: min(100%, 480px);
  width: 100%;

}

/* navbar */
.side-nav {
  min-height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  min-width: fit-content;
  z-index: 10;
}

.nav-offcanvas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.6rem;
  width: 190px;
  padding: 1rem;
}

.nav-offcanvas a , .nav-offcanvas .btn {
  width: 100%;
  min-width: 128px;

  &:hover {
    font-weight: bolder;
    color: white;
    background-color: turquoise;
  }

  &.active {
    color: white;
    background-color: #258cfb;
  }
}

@media screen and (min-width: 1024px) {
  .nav-offcanvas {
    width: 200px;
  }
}

@media screen and (min-width: 1500px) {
  .nav-offcanvas {
    width: 320px;
  }
}

/* projet page */

.project-page {
  & h1, h2 , h3 , h4 {
    margin-top: 2rem;
  }
}

/* intersection observers */
[data-observer] {
  opacity: 0.1;
  transition: all 1s linear;
}

[data-observer="o-right"] {
  transform: translateX(40%);
}

[data-observer="o-left"] {
  transform: translateX(-40%);
}


[data-observer="o-up"] {
  transform: translateY(40%);
}

[data-observer="o-down"] {
  transform: translateY(-40%);
}

[data-observer].observe {
  opacity: 1;
  transform: translate(0,0);
  transition: all 0.8s linear;
}

/* hero header*/
#header-hero {
  min-height: max(320px, 88vh);
  background: rgba(0, 0, 0, 0.6) url("../images/website/media-hero1.png") no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
  overflow: hidden;
}

/* partners slider */
.slider {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider a {
  flex: 1 0 130px ;
  opacity: 0.8;
  width: 130px;
}

.slider img {
  object-fit: cover;
}

.slider a:hover {
  opacity: 1;
}

/* home */
.home-sum {
  min-height: 70vh;
  background: rgba(5, 64, 5, 0.779) url("../images/website/globe.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: color-burn;
}

/* tables */
.table tr {
  max-height: 82px;
}

.table tr td {
  max-width: 200px;
}
/* tooltip */

/* blog cards */
a.bog {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

a.bog:hover {
  color: inherit;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

a.bog:hover img {
  object-position: top;
  transition: all 0.7s ease-in;
}


/* accordion css */
.mon-accordion, .mon-accordion-2 {
  cursor: pointer;
}

.mon-accordion label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mon-accordion p, .mon-accordion-2 .accord-text {
  max-height: 0px;
  overflow: hidden;
  transition:  all 0.5s linear;
}

.mon-accordion:hover p, .mon-accordion-2:has(input:checked) .accord-text {
  max-height: max-content;
}

.mon-accordion:hover {
  background-color: rgba(245, 245, 245, 0.356);
}

.mon-accordion-2:has(input:checked) label {
  opacity: 0;
}

.mon-accordion:hover .bi-chevron-down {
  transform: rotate(180deg);
}

.text-justify {
  text-justify: inter-word;
  text-align: justify;
}

.content-wrapper img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

/* personal hero carousel */
.slide-show {
  display: flex;
  justify-content: flex-start;
  min-height: 90vh;
  max-height: 760px;
  animation-name: slide-in;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.slide-show > section {
  flex: 1 0 100vw;
  height: inherit;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-show-dots {
  display: grid;
  grid-template-columns: repeat(3, 10px);
  gap: 0.4rem;
  bottom: 0.15rem;
  height: 42px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  animation-name: changeDots;
  animation-duration: 24s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.slide-show-dots .dot {
  background-color: white;
  height: 8px;
  width: 100%;
  border-radius: 6px;
}

#img-one, 
#img-two, 
#img-three {
  color: white;
  background: inherit inherit no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
}

@keyframes slide-in {
  0% {
    transform: translateX(0%);
    transition: transform 1s linear;
  }

  49% {
    transform: translateX(-0.1%);
    transition: transform 0s;
  }

  50% {
    transform: translateX(-100%);
  }

  75% {
    transform: translateX(-100%);
    transition: transform 0s;
  }

  76% {
    transform: translateX(-200%);
    transition: transform 1s linear;
  }

  80% {
    transform: translateX(-200%);
    transition: transform 1s linear;
  }

  98% {
    transform: translateX(-200%);
    transition: transform 1s linear;
  }
}

@keyframes changeDots {

  0% {
    grid-template-columns: 10px 32px 10px;
  }

  49% {
    grid-template-columns: 10px 32px 10px;
  }

  50% {
    grid-template-columns: 10px 10px 32px;
  }

  72% {
    grid-template-columns:  10px 10px 32px;
  }

  75% {
    grid-template-columns: 32px 10px 10px;
  }

  90% {
    grid-template-columns: 32px 10px 10px;
  }
  
}