@model Aafeben.Models.MediaModel


@{
    
    Layout ="~/Views/Shared/Dashboard/_DashboardLayout.cshtml";
    ViewData["Title"] = "Modifier Le Media";
}

<section class="bg-body p-3 d-flex flex-column gap-3 rounded-3 shadow">
 
    <h4>@ViewData["Title"]</h4>

    <form asp-action="Edit" class="row g-3" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-6">
            <label asp-for="EnCaption" class="form-label">Légende (En)</label>
            <input type="text" placeholder="légende en anglais" asp-for="EnCaption" class="form-control" />
            <span asp-validation-for="EnCaption" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="FrCaption" class="form-label">Légende (Fr)</label>
            <input  type="text" placeholder="légende en français"  asp-for="FrCaption" class="form-control" />
            <span asp-validation-for="FrCaption" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Type" class="form-label"></label>
            <select  class="form-select" asp-for="Type" class="form-control" > 
                <option value="image">image</option>
                <option value="video">video</option>
                <option value="audio">audio</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="PublishedDate" class="form-label">Date de publication</label>
            <input asp-for="PublishedDate" class="form-control" />
            <span asp-validation-for="PublishedDate" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="URI" class="form-label">Lien du cloud</label>
            <input asp-for="URI" class="form-control" />
            <span asp-validation-for="URI" class="text-danger"></span>
        </div>

        
        <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-list-columns-reverse me-2"></i>
                Modifier
            </button>
            <a class="btn btn-secondary" id="go-back" href="/fr/administrateurs/media">Retour a la List</a>
        </div>
    </form>

</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
