

<header id="header-hero"  class="container-fluid position-relative">

    <partial name="~/Views/Shared/HomeLayout/_Navbar.cshtml" />

    <div class="container row justify-content-center justify-content-lg-end hero-text text-white">
        <h2 class=" col-md-10 col-lg-6 text-capitalize">@ViewData["Title"]</h2>
    </div>

    <div class="slide-show">
        <section id="img-one" class="row justify-content-center justify-content-lg-end"></section>
        <section id="img-two" class="row justify-content-center justify-content-lg-end"></section>
        <section id="img-three" class="row justify-content-center justify-content-lg-end"></section>
    </div>

    <div class="slide-show-dots">
        <button class="dot btn p-0"></button>
        <button class="dot btn p-0"></button>
        <button class="dot btn p-0"></button>
    </div>
</header>
