@{
  string path = Context.Request.Path;
  string[] p = path.Replace("/fr/","").Replace("/en/","").Split('/');
  
}

<nav aria-label="breadcrumb bg-light">

  <ol class="breadcrumb breadcrumb-chevron p-3 shadow-sm">

    <li class="breadcrumb-item">
      <a class="link-body-emphasis" asp-controller="Blogs">
        <i class="bi bi-house-fill"></i>
        Tableau de Bord
      </a>
    </li>

    @foreach(var item in p) {
      <li class="breadcrumb-item">
        <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">@item</a>
      </li>
    }

  </ol>



  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasNavbarLight" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>