<footer class="container small d-flex flex-column flex-sm-row justify-content-between py-2 mt-4 border-top">
  <p>&copy; 2024 AAFEBEN. All rights reserved.</p>
  <p><partial name="~/Views/Shared/_Socials.cshtml" /> </p>
</footer>